//COLORS
$white-color: #e8e8e8;
$white-color-secondary: #fff;
$black-color: #16161b;
$yellow-color: #f0bb00;

$footer-color: #081225;
$text-footer-color: #bdbdbd;

//WIDTHS
$max-width: 1200px;
$full-width: 95%;
