//COLORS
$white-color: #E8E8E8;
$white-color-secondary: #F6F6F6;
$black-color: #16161B;
$yellow-color: #F0BB00;

$footer-color: #081225;
$text-footer-color: #BDBDBD;

//WIDTHS
$max-width: 1200px;
$full-width: 95%;