---
import { db, Promotions as PromotionsData } from "astro:db";
import Image from "astro/components/Image.astro";

import Layout from "../layouts/Layout.astro";
import PromotionGrid from "../common/components/PromotionGrid.astro";
import type { PromotionData } from "../common/models/promotion.interfaces";
import ImagePromo from "../../public/img/promo-en-estaciones.webp";

const promotionsData: PromotionData[] = await db.select().from(PromotionsData);

// const promotionsData: PromotionData[] = [
//   {
//     title: "¡Sorteo Mes del Amigo!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/403.jpg",
//     url: "https://serviclub.com.ar/blogs/403_sorteo-mes-del-amigo.html",
//   },
//   {
//     title:
//       "¡Miércoles y Viernes 15% dto. en INFINIA e INFINIA DIESEL con Dinero en tu...",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/402.jpg",
//     url: "https://serviclub.com.ar/blogs/402_miercoles-y-viernes-15-dto-en-infinia-e-infin.html",
//   },
//   {
//     title: "¡Lunes 15% en INFINIA!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/401.jpg",
//     url: "https://serviclub.com.ar/blogs/401_lunes-15-en-infinia.html",
//   },
//   {
//     title: "¡Llegó la nueva Camiseta YPF Messi Adidas!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/400.jpg",
//     url: "https://serviclub.com.ar/blogs/400_llego-la-nueva-camiseta-ypf-messi-adidas.html",
//   },
//   {
//     title: "¡Canjeá y ahorrá en SUPER!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/399.jpg",
//     url: "https://serviclub.com.ar/blogs/399_canjea-y-ahorra-en-super.html",
//   },
//   {
//     title: "¡Canjeá y ahorrá en INFINIA!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/398.jpg",
//     url: "https://serviclub.com.ar/blogs/398_canjea-y-ahorra-en-infinia.html",
//   },
//   {
//     title: "¡Canjeá y ahorrá en INFINIA DIESEL!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/397.jpg",
//     url: "https://serviclub.com.ar/blogs/397_canjea-y-ahorra-en-infinia-diesel.html",
//   },
//   {
//     title: "¡Canjeá y ahorrá en GNC!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/396.jpg",
//     url: "https://serviclub.com.ar/blogs/396_canjea-y-ahorra-en-gnc.html",
//   },
//   {
//     title: "¡Canjea tu Camiseta YPF Messi Adidas!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/395.jpg",
//     url: "https://serviclub.com.ar/blogs/395_canjea-tu-camiseta-ypf-messi-adidas.html",
//   },
//   {
//     title: "¡A FULL CON VOS! JULIO",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/394.jpg",
//     url: "https://serviclub.com.ar/blogs/394_a-full-con-vos-julio.html",
//   },
//   {
//     title: "YPF ServiClub, un triunfo todos los días",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/393.jpg",
//     url: "https://serviclub.com.ar/blogs/393_ypf-serviclub-un-triunfo-todos-los-dias.html",
//   },
//   {
//     title: "Taza sustentable FULL",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/392.jpg",
//     url: "https://serviclub.com.ar/blogs/392_taza-sustentable-full.html",
//   },
//   {
//     title: "Probá las nuevas H2OH! Pomelada y Manzanella",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/391.jpg",
//     url: "https://serviclub.com.ar/blogs/391_proba-las-nuevas-h2oh-pomelada-y-manzanella.html",
//   },
//   {
//     title: "Personal Pay 20%",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/390.jpg",
//     url: "https://serviclub.com.ar/blogs/390_personal-pay-20.html",
//   },
//   {
//     title: "Descuento en BOXES Socios Club LA NACION_Julio",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/389.jpg",
//     url: "https://serviclub.com.ar/blogs/389_descuento-en-boxes-socios-club-la-nacionjulio.html",
//   },
//   {
//     title: "Desc. UBER y BOXES Julio - Sintético",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/388.jpg",
//     url: "https://serviclub.com.ar/blogs/388_desc-uber-y-boxes-julio---sintetico.html",
//   },
//   {
//     title: "Desc. UBER y BOXES Julio - Semisintético",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/387.jpg",
//     url: "https://serviclub.com.ar/blogs/387_desc-uber-y-boxes-julio---semisintetico.html",
//   },
//   {
//     title: "15% de ahorro todos los días para socios de Club La Nación",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/386.jpg",
//     url: "https://serviclub.com.ar/blogs/386_15-de-ahorro-todos-los-dias-para-socios-de-cl.html",
//   },
//   {
//     title: "15% de ahorro todos los días para socios Bonda",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/385.jpg",
//     url: "https://serviclub.com.ar/blogs/385_15-de-ahorro-todos-los-dias-para-socios-bonda.html",
//   },
//   {
//     title:
//       "15% de ahorro todos los dias con todos los medios de pago con LA VOZ",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/384.jpg",
//     url: "https://serviclub.com.ar/blogs/384_15-de-ahorro-todos-los-dias-con-todos-los-med.html",
//   },
//   {
//     title:
//       "15% de ahorro todos los dias con todos los medios de pago con CLUB LA GACETA",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/383.jpg",
//     url: "https://serviclub.com.ar/blogs/383_15-de-ahorro-todos-los-dias-con-todos-los-med.html",
//   },
//   {
//     title:
//       "15% de ahorro todos los dias con todos los medios de pago con ANDES PASS",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/382.jpg",
//     url: "https://serviclub.com.ar/blogs/382_15-de-ahorro-todos-los-dias-con-todos-los-med.html",
//   },
//   {
//     title: "3 cuotas sín interés con Naranja X",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/381.jpg",
//     url: "https://serviclub.com.ar/blogs/381_-3-cuotas-sin-interes-con-naranja-x.html",
//   },
//   {
//     title: "¡Canjeá y ahorrá en BOXES!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/378.jpg",
//     url: "https://serviclub.com.ar/blogs/378_canjea-y-ahorra-en-boxes.html",
//   },
//   {
//     title: "Santander Select JUEVES",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/376.jpg",
//     url: "https://serviclub.com.ar/blogs/376_santander-select-jueves.html",
//   },
//   {
//     title: "¡Canjeá y ahorrá más en FULL!",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/362.jpg",
//     url: "https://serviclub.com.ar/blogs/362_canjea-y-ahorra-mas-en-full.html",
//   },
//   {
//     title: "Llévate un café de cortesía",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/344.jpg",
//     url: "https://serviclub.com.ar/blogs/344_llevate-un-cafe-de-cortesia.html",
//   },
//   {
//     title: "Cuidá tu auto con YPF BOXES",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/326.jpg",
//     url: "https://serviclub.com.ar/blogs/326_cuida-tu-auto-con-ypf-boxes.html",
//   },
//   {
//     title: "Beneficio Banco Macro",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/314.jpg",
//     url: "https://serviclub.com.ar/blogs/314_beneficio-banco-macro.html",
//   },
//   {
//     title: "Elaion Auro",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/310.jpg",
//     url: "https://serviclub.com.ar/blogs/310_elaion-auro.html",
//   },
//   {
//     title: "Centro de Experiencias Virtual de YPF",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/284.jpg",
//     url: "https://serviclub.com.ar/blogs/284_centro-de-experiencias-virtual-de-ypf.html",
//   },
//   {
//     title: "SuperClub+ Santander",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/253.jpg",
//     url: "https://serviclub.com.ar/blogs/253_superclub-santander-.html",
//   },
//   {
//     title: "15% de descuento en FULL con Club LA NACION",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/219.jpg",
//     url: "https://serviclub.com.ar/blogs/219_15-de-descuento-en-full-con-club-la-nacion.html",
//   },
//   {
//     title: "Hasta 35% de descuento Credicoop",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/162.jpg",
//     url: "https://serviclub.com.ar/blogs/162_hasta-35-de-descuento-credicoop.html",
//   },
//   {
//     title: "Línea Cuidado y Cosmética del Automotor",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/154.jpg",
//     url: "https://serviclub.com.ar/blogs/154_linea-cuidado-y-cosmetica-del-automotor.html",
//   },
//   {
//     title: "Sumá puntos y tentate en Full",
//     imgUrl:
//       "https://serviclub.com.ar/img/dorthumbs/300x300/smartblog/images/125.jpg",
//     url: "https://serviclub.com.ar/blogs/125_suma-puntos-y-tentate-en-full.html",
//   },
// ];

---

<Layout title="Promociones">
  <section class="promotions__section">
    <div class="banner">
      <Image src={ImagePromo} alt="Promociones Banner" loading="eager" />
    </div>

    <article class="grid__container">
      <PromotionGrid promotionsData={promotionsData} />
    </article>
  </section>
</Layout>

<style lang="scss">
  @import "../styles/_variables.scss", "../styles/_mediaqueries.scss";

  .promotions__section {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background-color: $black-color;
    color: $white-color-secondary;

    .banner {
      width: 100%;
      height: 125px;

      @include media-up(tabletXS) {
        height: 100px;
      }
      @include media-up(mobile) {
        height: 50px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .grid__container {
      width: 100%;
      min-height: 70dvh;
      margin: 2rem auto;
    }
  }
</style>
