<article class="separator__container">
  <div id="my-keen-slider" class="keen-slider">
    <div class="keen-slider__slide">
      <a
        href="https://serviclub.ypf.com/?_ga=2.166453497.654987654.1673280657-1638044193.1672922441"
        target="_blank"
      >
        <img src="/img/separator-1.jpg" alt="Serviclub" />
      </a>
    </div>
    <div class="keen-slider__slide">
      <a href="https://elaion.com.ar/" target="_blank">
        <img src="/img/separator-2.jpg" alt="Elaion Auro" />
      </a>
    </div>
    <div class="keen-slider__slide">
      <a href="https://infinia.com.ar/nafta/motor-interno.html" target="_blank">
        <img src="/img/separator-3.jpg" alt="Infinia" />
      </a>
    </div>
    <div class="keen-slider__slide">
      <a href="https://boxes.ypf.com/" target="_blank">
        <img src="/img/separator-4.jpg" alt="Boxes" />
      </a>
    </div>
    <div class="keen-slider__slide">
      <a
        href="https://infinia.com.ar/diesel/Infinia-diesel-el-combustible-de-ultima-tecnologia-de-YPF.html"
        target="_blank"
      >
        <img src="/img/separator-5.jpg" alt="Infinia Diesel" />
      </a>
    </div>
    <div class="keen-slider__slide">
      <a href="https://infinia.com.ar/nafta/motor-interno.html" target="_blank">
        <img src="/img/separator-6.jpg" alt="Infinia Nafta" />
      </a>
    </div>
  </div>
</article>

<style lang="scss">
  @import "../../styles/_variables.scss";

  .separator__container {
    width: 100%;
    // height: 200px;
    overflow: hidden;
    background-color: $footer-color;

    .keen-slider {
      width: 100%;
      display: flex;

      .keen-slider__slide {
        width: 100%;
        flex-grow: 1;

        a {
          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
</style>

<script>
  import KeenSlider from "keen-slider";

  const animation = { duration: 30000, easing: (t: any) => t };

  const slider = new KeenSlider("#my-keen-slider", {
    loop: true,
    slides: {
      perView: 5,
      spacing: 0,
    },
    renderMode: "precision",
    drag: false,
    created(s) {
      s.moveToIdx(5, true, animation);
    },
    updated(s) {
      s.moveToIdx(s.track.details.abs + 5, true, animation);
    },
    animationEnded(s) {
      s.moveToIdx(s.track.details.abs + 5, true, animation);
    },
  });
</script>
